.cardsWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.cardDeckWrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 150px;
}